@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    /*background: url('https://www.freevector.com/uploads/vector/preview/30355/Fluid_Gradient_Background.jpg');*/
    background: lightblue;
    background-size: 100%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    /* position footer statically */
    /*position: absolute;*/
    /*top: 525px;*/
}

#svg_form_time {
    height: 15px;
    max-width: 80%;
    margin: 40px auto 20px;
    display: block;
}

#svg_form_time circle,
#svg_form_time rect {
    fill: white;
}

.button {
    background: rgb(237, 40, 70);
    border-radius: 100px;
    padding: 15px 25px;
    display: inline-block;
    margin: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.disabled {
    display: none;
}

section {
    padding: 50px 100px 70px;
    max-width: 400px;
    margin: 30px auto;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}

input {
    width: 100%;
    margin: 5px 0px;
    display: inline-block;
    padding: 15px 25px;
    box-sizing: border-box;
    border-radius: 50px;
    border: 1px solid lightgrey;
    font-size: 1em;
    font-family: inherit;
    background: white;
}

header {
    margin: 0px 5px 20px;
    text-align: left;
    font-weight: bold;
    font-size: 0.9em;
}

/**/
/* Floating column for labels: 25% width */
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
    line-height: 20px;
    text-align: left;
    margin-left: 5px;
}

/* Floating column for inputs: 75% width */
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.row:nth-child(n+2) {
    margin-top: 15px;
}
/**/

select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    background: white;
    margin: 5px 0;
}

.col-25, .col-75 {
    width: 100%;
    margin-top: 0;
}

@media only screen and (max-width: 425px) {
    input, select {
        font-size: 13px;
    }

    .button {
        font-size: 15px;
    }

    main {
        margin: 30px;
    }

    section {
        padding: 50px 25px 70px;
    }

    header {
        font-size: 1.1em;
    }
}

@media only screen and (min-width: 1024px) {
    input, select {
        font-size: 20px;
    }

    .button {
        font-size: 15px;
    }

    header {
        font-size: 1.3em;
    }
}